.history {
  margin-bottom: 244px;
  padding-bottom: 100px;

  background: url('../img/history.jpg') 9% -34px no-repeat;
  background-size: 50% auto;

  .paragraph {
    &:last-of-type {
      margin-bottom: 108px;
    }
  }

  & > .container {
    max-width: 1555px;
  }
}

.history__text {
  max-width: 526px;
  margin-left: auto;
  padding-top: 80px;
}

.history__title {
  max-width: 100%;

  text-align: start;
}

@media(max-width:1200px) {
  .history {
    margin-bottom: 50px;
    padding-top: 300px;
    padding-bottom: 50px;

    background-position: center 30px;
    background-size: 350px;

    .paragraph:last-of-type {
      margin-bottom: 30px;
    }
  }

  .history__text {
    margin: 0 auto;
  }
}
