.nav {
  transition: opacity 0.3s ease-in;

  opacity: 1;
}

.nav__list {
  display: flex;

  gap: 34px;
}

.nav__link {
  padding: 63px 14px 8px 14px;

  text-decoration: none;

  color: rgba(22, 53, 97, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &.active {
    color: $white;
    background-color: $light-blue;
  }
}

@media(max-width:1200px) {
  .nav {
    position: fixed;
    z-index: 1;
    top: 0;

    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 40px;

    background: rgba(255, 255, 255, 0.8);

    &.hidden {
      position: absolute;
      left: -100%;

      opacity: 0;
    }
  }

  .nav__list {
    display: grid;

    grid-template-columns: 1fr;
    gap: 10px;
  }

  .nav__link {
    padding: 10px;

    text-align: center;
  }
}
