@font-face {
  font-family: 'Catamaran';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url('../fonts/catamaran-regular.woff2') format('woff2'), url('../fonts/catamaran-regular.woff') format('woff');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: url('../fonts/catamaran-medium.woff2') format('woff2'), url('../fonts/catamaran-medium.woff') format('woff');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: url('../fonts/catamaran-bold.woff2') format('woff2'), url('../fonts/catamaran-bold.woff') format('woff');
}
