$white: #ffffff;
$blue: rgba(22, 53, 97, 1);
$yellow: rgba(251, 180, 0, 1);
$light-blue: rgba(163, 193, 239, 1);
$catamaran: 'Catamaran',
'Arial',
sans-serif;
$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
